<div class="col-md-3">
  {{#if viewingPost}}
  <div class="lead">
    <button class="btn btn-primary btn-block" {{action "hidePost"}}>Add a Post</button>
  </div>
  {{/if}}
  {{partial 'posts/posts-list'}}
</div>

{{#if viewingPost}}
  <div class="col-md-8">
    {{outlet}}
  </div>
{{else}}
  <div class="col-md-6">
    {{partial 'posts/new-post'}}
  </div>
{{/if}}
