<div class="lead">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button class="btn btn-info" {{action 'viewPost'}}>View</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-primary" {{action 'answerPost'}}>Answer</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-warning" {{action 'editPost'}}>Edit</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-danger" {{action 'askDelete'}}>Delete</button>
    </div>
  </div>
</div>

<div>
  <p>
    {{#if viewPost}}
      {{partial 'post/view-post'}}
    {{/if}}

    {{#if editPost}}
      {{partial 'post/edit-post'}}
    {{/if}}

    {{#if deletePost}}
      {{partial 'post/delete-post'}}
    {{/if}}

    {{#if answerPost}}
      {{partial 'post/new-answer'}}
    {{/if}}
  </p>
  <br>
  {{#if viewAnswers}}
    {{partial 'post/view-answers'}}
  {{/if}}
</div>
